*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(180deg,rgb(250, 254, 255) 0%,rgb(255, 255, 255)100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* hobby */

.hobby{
    padding: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 90%;
    height: 3900px;
    background-color: rgb(218, 242, 225);
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgb(89, 170, 111);
    /* border: 1.5px solid rgb(118, 169, 83); */
}

.text-grass {
  width: 100%;
  margin-top: 30px;
  height: 60px;
  /* background-color: aqua; */
  display: flex; 
  align-items: center;
  justify-content: center;
  gap:20px;
  
}
.grass{
    width: auto;
    height: 70%;
    animation: rotatmove 2s infinite linear;
}
@keyframes rotatmove{
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
}

h1{
    font-size: 48px;
    color: rgb(51, 78, 32);
    font-family: "Lora",serif;
}

.music{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-top: 50px;
    height: 1100px;
    border-radius: 50px;
    box-shadow:inset 0 0 8px rgb(103, 203, 133);
    padding-top: 40px;
}
h2{
    font-size: 36px;
    font-weight: 300;
    color: rgb(54, 103, 49);
    /* font-family: "Lora",serif; */
}
.content{
    margin-top: 40px;
    text-align: center;
}
h3{
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(111, 158, 107);
}
.singer{
    width: 990px;
    height: 500px;
    /* background-color: aqua; */
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.xzq,
.xzw,
.lh{
    display: flex;
    width: 300px;
    height: 400px;
    background-color: rgb(242, 250, 215);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;


}
.img-photo{
    width: 170px;
    height: auto;
    border-radius:50% ;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0 0 5px rgb(55, 111, 59);
}
h4{
    font-size: 24px;
    font-weight: 400;
    color: rgb(54, 103, 49);
}
h5{
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: rgb(67, 110, 63);
}
.emoji1{
    width: 250px;
    height: auto;
}
.emoji2{
    width: 200px;
    height: auto;
}
.design{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-top: 50px;
    height: 1800px;
    border-radius: 50px;
    box-shadow:inset 0 0 8px rgb(103, 203, 133);
    padding-top: 40px;
    gap: 40px;
    padding-bottom: 30px;
}
.ps{
    width: 100px;
    animation: shine 2s infinite linear;
}
@keyframes shine {
    0%{filter: drop-shadow(0 0 0px rgb(255, 255, 255));}
    50%{filter: drop-shadow(0 0 8px rgb(96, 140, 48));}
    100%{filter: drop-shadow(0 0 0px rgb(255, 255, 255));}
    
}
.work{
    width: 990px;
    height: 1000px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.work1{
    padding-top: 30px;
    width: 990px;
    height: 450px;
    background-color: rgb(242, 250, 215);
    border-radius: 30px;

}
.work-box{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card{
    height: 320px;
    width: auto;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255))
}
.work2{
    margin-top: 30px;
    /* padding-top: 30px; */
    width: 990px;
    height: 450px;
    /* background-color: rgb(159, 159, 159); */
    border-radius: 30px;
    display: flex;
    justify-content: space-between;

}
.phone-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    background-color: rgb(242, 250, 215);
    align-items: center;
    justify-content: center;
    padding-top: 30px;

}
.phone{
    width: 400px;
    height: auto;
}
.mask-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    background-color: rgb(242, 250, 215);
    align-items: center;
    /* justify-content: center; */
    padding-top: 30px;

}
.mask{
    margin-top: 40px;
    width: 400px;
    height: auto;
}
.mirror-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    background-color: rgb(242, 250, 215);
    align-items: center;
    /* justify-content: center; */
    padding-top: 30px;

}
.mirror{
    margin-top: 20px;
    width: 200px;
    height: auto;
    filter: drop-shadow(0 0 2px rgba(84, 98, 64, 0.669))
}
.intrument{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-top: 50px;
    height: 600px;
    border-radius: 50px;
    box-shadow:inset 0 0 8px rgb(103, 203, 133);
    padding-top: 40px;
    gap: 30px;
}
.text1{
    text-align: center;
    margin-top: 30px;
    line-height: 40px;
}

/* goal */

.goal{
    padding: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 90%;
    height: 800px;
    background-color: rgb(218, 242, 225);
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgb(89, 170, 111);
    /* border: 1.5px solid rgb(118, 169, 83); */
}
.goal-box{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-top: 50px;
    height: 500px;
    border-radius: 50px;
    box-shadow:inset 0 0 8px rgb(103, 203, 133);
    padding-top: 40px;
}

.list{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80px;
    background-color: rgb(242, 250, 215);
    margin-bottom: 30px;
    font-size: 22px;
    border-radius: 40px;
    font-family: monospace;
    color: rgb(54, 103, 49);
    font-weight: bold;
    box-shadow: inset 0 5px rgb(175, 253, 204);
    transition: all 0.3s ease;
}
.li:hover{
    box-shadow: inset 0 5px rgb(175, 253, 204), inset 0 -5px rgb(175, 253, 204);
}

.last{
    padding: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 90%;
    height: 800px;
    background-color: rgb(218, 242, 225);
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgb(89, 170, 111);
    /* border: 1.5px solid rgb(118, 169, 83); */
}
.myphoto{
    margin-top: 30px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 8px rgb(42, 150, 32);
}
.text-box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text2{
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;
    color: rgb(54, 103, 49);

}
.text3{
    font-size: 48px;
    margin-top: 30px;
    color: rgb(54, 103, 49);
}

.button{
    position: fixed;
    top: 80%;
    left: 90%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.5s ease;
    background-color: rgb(233, 255, 214);
    color: rgb(52, 96, 39);
    border: 2px solid rgb(54, 126, 53);
}
a{
    text-decoration: none;
}
.button:hover{
    background-color: rgb(125, 174, 82);
    color: aliceblue;
    border: 2px solid white;
}
.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    height: 600px;
    background-color: rgb(242, 250, 215);
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgb(89, 170, 111);
}
.footer-box{
    margin-top: 20px;
    width: 800px;
    height: 70px;
    background-color: rgb(242, 250, 215);
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgb(89, 170, 111);
    text-align: center;
    line-height: 70px;
    color:rgb(54, 103, 49);
}